---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import PackageCard from "../components/PackageCard.astro";
import { Image } from "astro:assets";
import guideImg from '../assets/projects/Guide.jpg'
import indecomImg from '../assets/projects/Indecom.jpg'
import kuezImg from '../assets/projects/kuez.png'
import tbhImg from '../assets/projects/tbh.jpg'

---

<Layout title="Welcome to Astro.">
	<header>
		<p class="pre-title">Tired of waiting?</p>
		<h1>Build that site Already!</h1>
		<div class="blurb-wrapper">
			<p class="title-blurb">
				We get it. You need a website, like yesterday. Stop waiting and get a
				stunning site that converts - fast.
			</p>
			<a href="https://cal.com/andycatlow" class="cta">Book an intro call</a>
		</div>
	</header>
	<main>
		<section class="process-section">
			<h2>The Process</h2>
			<ul role="list" class="process card-grid">
				<Card
					title="Discovery"
					body="First things first, we need to pick your brilliant brain. What's your vision? Your goals? Your wildest web dreams? Don't hold back - we're all ears (and maybe a few screens) during this critical discovery phase."
				/>
				<Card
					title="Design"
					body="Now it's time to conjure up a beautiful design to make jaws drop and conversion rates soar. I'll weave captivating visuals, intuitive layouts, and buttery smooth interactions. And don't sweat it - I offer unlimited revisions to tweak and refine until you're completely spellbound."
				/>
				<Card
					title="Development"
					body="With the designs sorted, coding begins on a technical masterpiece. Your blazing-fast, secure site will be precision-built from the ground up using cutting-edge tools and a future-proof architecture."
				/>
				<Card
					title="Deployment"
					body="After combining my design and development expertise, your stellar new website will be primed for a high-impact deployment that turns heads. I'll meticulously prep for a seamless launch experience."
				/>
			</ul>
		</section>
		<section class="packages-section">
			<h2>The Packages</h2>
			<div class="packages card-grid">
				<div class="package-card">
					<h2>Basic Website</h2>
					<p>$1,000 - $3,000</p>
					<ul>
						<li>
							Includes a 5-7 page website with a modern, responsive design
						</li>
						<li>
							Contact form, basic SEO optimization, and analytics integration
						</li>
						<li>
							Suitable for small businesses, freelancers, or personal brands
						</li>
					</ul>
				</div>
				<div class="package-card">
					<h2>E-Commerce Starter</h2>
					<p>$2,500 - $5,000</p>
					<ul>
						<li>
							Includes a basic e-commerce website with 10-20 product pages
						</li>
						<li>
							Shopping cart, payment gateway integration (e.g., PayPal, Stripe)
						</li>
						<li>Customized checkout process and order management system</li>
						<li>
							Ideal for entrepreneurs, small online stores, or sellers launching
							an MVP
						</li>
					</ul>
				</div>
				<div class="package-card">
					<h2>Lead Generation Website</h2>
					<p>$2,000 - $4,000</p>
					<ul>
						<li>Includes a 5-7 page website with lead capture forms</li>
						<li>
							Email marketing integration (e.g., MailChimp, Constant Contact)
						</li>
						<li>Landing page design and conversion optimization</li>
						<li>
							Suitable for service-based businesses, consultants, or local
							companies
						</li>
					</ul>
				</div>
				<div class="package-card">
					<h2>Website Refresh</h2>
					<p>$1,500 - $3,500</p>
					<ul>
						<li>Includes a redesign of an existing website (up to 10 pages)</li>
						<li>
							Updated branding, improved navigation, and mobile responsiveness
						</li>
						<li>Basic content revisions and new imagery</li>

						<li>
							Ideal for businesses looking to modernize their online presence
						</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="portfolio-section">
			<h2>Previous Work</h2>
			<div class="portfolio card-grid">
				<div class="portfolio-card">
					<Image src={guideImg} alt="">
				</div>
				<div class="portfolio-card">
					<Image src={indecomImg} alt="">
				</div>
				<div class="portfolio-card">
					<Image src={kuezImg} alt="">
				</div>
				<div class="portfolio-card">
					<Image src={tbhImg} alt="">
				</div>
			</div>
		</section>
		<section class="testimonials-section">
			<h2>Kind Words</h2>
			<div class="testimonials card-grid">

				<div class="testimonial">
					<p class="testimonial-body">I needed a website ASAP and buldthatwebsitealready.com delivered! They were fast, efficient, and created a website that perfectly reflects my brand.</p>
					<p class="testimonial-name">Sarah Jones</p> 
					<p class="testimonial-company">Happy Client</p>
				</div>
				<div class="testimonial">
					<p class="testimonial-body">Finally found a web designer who speaks my language. They built a website that's not only beautiful but actually converts visitors into customers.</p>
					<p class="testimonial-name">David Lee</p> 
					<p class="testimonial-company">Ecstatic Entrepreneur</p>
				</div>
				<div class="testimonial">
					<p class="testimonial-body">I needed a website ASAP and buldthatwebsitealready.com delivered! They were fast, efficient, and created a website that perfectly reflects my brand.</p>
					<p class="testimonial-name">Sarah Jones</p> 
					<p class="testimonial-company">Happy Client</p>
				</div>
				<div class="testimonial">
					<p class="testimonial-body">Finally found a web designer who speaks my language. They built a website that's not only beautiful but actually converts visitors into customers.</p>
					<p class="testimonial-name">David Lee</p> 
					<p class="testimonial-company">Ecstatic Entrepreneur</p>
				</div>
			</div>
		</section>
	</main>
	<footer>
		<div class="site-name">
			<p class="top-line">Build that site</p>
			<p class="bottom-line">ALREADY!</p>
		</div>
		<div class="details"></div>
	</footer>
</Layout>

<style>
	header {
		color: aliceblue;
		padding: var(--gutter);
	}
	main {
		margin: auto;
		padding: var(--gutter);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	section {
		padding-block: var(--gutter);

		h2{
			margin-block: 1em;
		}
	}
	.pre-title {
		font-size: calc(3vw + 1rem);
		margin-block: 0;
	}
	h1 {
		font-size: calc(10vw + 1rem);
		font-weight: 700;
		line-height: 1;
		/* text-align: center; */
		margin-block: 4rem;
		color: #ff6600;
	}
	.blurb-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		gap: 2em;
	}
	.title-blurb {
		font-size: calc(1vw + 1rem);
		max-width: 40ch;
	}
	.cta {
		text-decoration: none;
		color: aliceblue;
		background-color: blueviolet;
		padding: 1em 1.5em;
		border-radius: var(--corner);
		display: block;
		max-width: fit-content;
		height: fit-content;
		margin-block: 1em;
		font-size: calc(1vw + .9rem);
	}

	.card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.package-card {
		list-style: none;
		outline: 1px solid white;
		padding: 1em;
		border-radius: var(--corner);

		display: grid;
		grid-template-rows: 3em 3em 1fr;
		gap: 1em;

		h2 {
			line-height: 1;
			margin-top: 0;
		}
		p {
			font-weight: bold;
		}
		ul {
			list-style: none;
		}
	}

	.testimonial{
		max-width: 30ch;
		position: relative;
		&::before{
			content: '"';
			position: absolute;
			font-size: 6em;
			font-style: italic;
			top: 0;
			left: -.25em;
			line-height: .5;
			opacity: 0.1;
		}
		.testimonial-name{
			margin-top: 1em;
			opacity: .8;
		}
		.testimonial-company{
			opacity: .6;
		}
	}
	footer {
		min-height: 50vh;
		background-color: #fff;
		padding: var(--gutter);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.top-line {
			font-size: calc(5vw + 1rem);
			line-height: 1;
		}
		.bottom-line {
			font-size: calc(7vw + 1rem);
			line-height: 1;
		}
	}
</style>
