---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Build high-converting, revenue-driving websites with buildTHATsiteALREADY - a bold web development agency laser-focused on maximizing your online sales and growth. Our expert team crafts stunning, custom websites optimized for conversions, SEO, and future scalability." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav>
			<div class="logo">
				<a href="/">
					<p class="top-line">Build that site</p>
					<p class="bottom-line">ALREADY!</p>
				</a>
			</div>
			<div class="links">
				<a href="/" class="nav-link">minimalist</a>
				<a href="/" class="nav-link">elegant</a>
				<a href="/" class="nav-link">brutalist</a>
				<a href="/" class="nav-link">fun</a>
			</div>
			<a href="https://cal.com/andycatlow" class="cta">Book an intro call</a>

		</nav>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);

		--gutter: calc(5vw + 16px);
		--corner: 7px;
	}
	*, *::after,*::before{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}

	nav{
		position: fixed;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-inline: var(--gutter);
		padding-block: 1em;
		font-size:clamp(16px,calc(1vw + .25rem) ,2em) ;
		background-color: #13151a;
		
		a{
			text-decoration: none;
			text-transform: capitalize;
			color: aliceblue;
		}
		.logo{
			a{
				color: #ff6600;
			}
			.bottom-line{
				font-size: 1.4em;
				line-height: .8;
			}
		}
		.links{
			display: none;
			/* display: flex; */
			gap: 1em;
		}
	}

</style>
