---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Build high-converting, revenue-driving websites with buildTHATsiteALREADY - a bold web development agency laser-focused on maximizing your online sales and growth. Our expert team crafts stunning, custom websites optimized for conversions, SEO, and future scalability." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav>
			<div class="logo">
				<a href="/">
					<p class="top-line">Build that site</p>
					<p class="bottom-line">ALREADY!</p>
				</a>
			</div>
			<div class="links">
				<a href="/" class="nav-link">minimalist</a>
				<a href="/" class="nav-link">elegant</a>
				<a href="/" class="nav-link">brutalist</a>
				<a href="/" class="nav-link">fun</a>
			</div>
			<a href="https://cal.com/andycatlow" class="cta">Book an intro call</a>

		</nav>
		<slot />
		<footer>
			<div class="site-name">
				<p class="top-line">Build that site</p>
				<p class="bottom-line">ALREADY!</p>
			</div>
			<div class="details">
				<form name="contact" method="POST" data-netlify="true">
					<div class="floater">
						<input type="text" name="name" id="name" autocomplete="name" placeholder="Andy Catlow" required>
						<label for="name"><p>Name:</p></label>
					</div>
					<div class="floater">
						<input type="email" name="email" id="email" autocomplete="email" placeholder="andy@buildthatsitealready.com" required>
						<label for="email"><p>Email:</p></label>
					</div>
					<div class="floater">
						<textarea name="message" id="message" rows="4" placeholder="Message" required></textarea>
						<label for="message"><p>Message:</p></label>
					</div>
					<button type="submit">I'm ready!</button>
				</form>
				</div>
		</footer>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);

		--gutter: calc(5vw + 16px);
		--corner: 7px;
	}
	*, *::after,*::before{
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}

	nav{
		position: sticky;
		top: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding-inline: var(--gutter);
		padding-block: 1em;
		font-size:clamp(16px,calc(1vw + .25rem) ,2em) ;
		background-color: #13151a;
		z-index: 999;
		a{
			text-decoration: none;
			text-transform: capitalize;
			color: aliceblue;
		}
		.logo{
			a{
				color: #ff6600;
			}
			.bottom-line{
				font-size: 1.4em;
				line-height: .8;
			}
		}
		.links{
			display: none;
			/* display: flex; */
			gap: 1em;
		}
		.cta{
			border: 2px solid #ff6600;
			border-radius: var(--corner);
			padding: .5em 1em;
		}
	}

	/************ footer *************/
	footer {
		min-height: 50vh;
		background-color: #fff;
		padding: var(--gutter);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 2em;

		.top-line {
			font-size: calc(5vw + 1rem);
			line-height: 1;
		}
		.bottom-line {
			font-size: calc(7vw + 1rem);
			line-height: 1;
		}
		.myemail{
			margin-block: 2em;
			display: flex;
			align-items: center;
			gap: .5em;
			svg{
				height: 1.5em;
				width: 1.5em;
			}
		}
	}
	form{
		display: flex;
		flex-direction: column;
		gap: 1.5em;
		min-width: 300px;
		font-size: 1.125rem;
		.floater{
			position: relative;
			label{
				position: absolute;
				left: .4em;
				top: .25em;
				pointer-events: none;
				transition: translate 200ms ease, color 200ms ease, opacity 100ms ease 50ms;
				z-index: 1;
			}
			input, textarea{
				padding: 0.5em;
				display: block;
				width: 100%;
				border: none;
				border-bottom: 2px solid #ff6600;
				outline: none;
				font-family: inherit;
				z-index: 5;
				&::-webkit-input-placeholder, &::placeholder{
					opacity: 0;
				}
				&:focus-visible ~ label {
					translate: 0 -1.25em;
					color: #ff6600;
				}
				&:focus-visible::-webkit-input-placeholder, &:focus-visible::placeholder{
					opacity: .5;
				}
				&:valid:not(:focus-visible) ~ label {
					opacity: 0;
				}
			}
		}
		button {
			border: 2px solid #ff6600;
			border-radius: var(--corner);
			max-width: fit-content;
			padding: .5em 1em;
			background-color: white;
			color: #ff6600;
			transition: all 200ms ease-in-out;
			&:hover{
				background-color: #ff6600;
				color: #fff;
			}
		}
	}
</style>
